.jdid {
    position: absolute;
    bottom: 0;
    right: 30px;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.btn {
    cursor: pointer;
    box-sizing: border-box;
    border: 0;
    padding: 0px 20px;
    font-size: 18px;
    line-height: 30px;
    color: #74777d;
    background-color: transparent;
    outline: none;
}

.new {
   border: solid #282a2e;
    height: 25px;
}

.btn:hover {
    color: #282a2e;
}

.active, .active:hover {
    color: #1b81f5;
}

.inactive , .inactive:hover {
    color: red;
}

span {
    margin-left: 6px;
}
